body {
  background-color: #EEEEEE;
}

.container {
  background-color: #FFFFFF;
  overflow: hidden;
  min-height: 600px;
}

.col-lg-4 {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.CodeMirror-vscrollbar[style] {
  display: none !important;
}

.CodeMirror-wrap pre {
  word-break: break-all;
}

.mode-container {
  position: relative;
  z-index: 2;
  left: 5%;
}

#mode-selector {
  margin-left: 5%;
  margin-right: 15%;
  width: 80%;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  background-color: #DDDDFF;
  z-index: 0;
  top: 117px;
  position: absolute;
}

