body {
  background-color: #EEEEEE;
}

.container {
  background-color: #FFFFFF;
  overflow: hidden;
  min-height: 600px;
}

.col-lg-4 {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.CodeMirror-vscrollbar[style] {
  display: none !important;
}

.CodeMirror-wrap pre {
  word-break: break-all;
}

.mode-container {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
  left: 5%;
  right: 10%;
  width: 85%;
}

#mode-selector {
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  background-color: #DDDDFF;
  z-index: 0;
  position: absolute;
}

h4 {
  display: inline-block;
}
