/* Overall conatiner */
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: 100%;
}
.center-container {
  padding-top: 50px;
  padding-right: 0;
  margin: 0;
  height: 100%;
}
.center-row {
  height: 100%;
  width: 100%;
}

/*  Big three parts offset and background colors */
.left-pane {
  background-color: #dddddd;
  overflow-y: scroll;
  min-height: 100%;
  height: 100%;
}
.mid-pane {
  min-height: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.right-pane {
  background-color: #dddddd;
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;
}

/* CodeMirror Functional settings */
.CodeMirror-vscrollbar[style] {
  display: none !important;
}
.CodeMirror-wrap pre {
  word-break: break-all;
}
.CodeMirror {
  font-family: Consolas, monospace;
}

/* CodeMirror dialog */
.CodeMirror-dialog {
  background: #262626;
  color: white;
}
.CodeMirror-dialog input {
  font-family: Consolas, monospace;
}
.CodeMirror-dialog span {
  font-family: Consolas, monospace !important;
}
/* Quest list */
#quest-list > ul {
  padding: 0;
  list-style-type: none;
}

/* Current mode display */
/* Color scheme from https://github.com/bling/vim-airline */
#modes-display {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Consolas;
  font-style: bold;
  font-size: 15px;
  text-align: center;
}
#modes-display > div {
  background-color: #777;
}
#mode-normal.mode-active {
  background-color: #dfff00;
}
#mode-insert.mode-active {
  background-color: #00afff;
}
#mode-visual.mode-active {
  background-color: #ffaf00;
}

/* Current command help */
kbd {
  margin: 2px;
}
#helps-display {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
}
.help-view {
  display: table-cell;
  background-color: #eeeeee;
  text-align: center;
}
.help-view > div > kbd {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 20px;
}

/* Vim overlay */
#vim-overlay {
  opacity: 0.0;
  background-color: #555;
  color: white;
  font-size: 20px;
  font-style: bold, underline;
}
#vim-overlay-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Sandbox settings */
#sandbox-info {
  display: none;
}
